<div
  class="container-fluid p-0"
  style="
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  "
>
  <div class="row w-100 p-xl-5 ms-xl-5 mt-2 align-items-baseline">
    <div class="col-md-4 col-xl-4 col-sm-4 col-4 mt-4 p-sm-0 p-1">
      <h5 class="text-light">
        Configuração do Cruso
        <span class="text-danger">{{ dadosCurso[0]?.Titulo || null }}</span>
      </h5>
    </div>
    <div
      class="col-12 text-light border border-secondary rounded p-2"
      style="height: 80vh"
    >
      <div class="row h-100">
        <div class="col-12">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link text-light active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-info"
                type="button"
                role="tab"
                aria-controls="pills-info"
                aria-selected="true"
              >
                Informações
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link text-light"
                id="pills-modulos-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-modulos"
                type="button"
                role="tab"
                aria-controls="pills-modulos"
                aria-selected="false"
              >
                Módulos
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link text-light"
                id="pills-aulas-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-aulas"
                type="button"
                role="tab"
                aria-controls="pills-aulas"
                aria-selected="false"
              >
                Aulas
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link text-light"
                id="pills-resumo-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-resumo"
                type="button"
                role="tab"
                aria-controls="pills-resumo"
                aria-selected="false"
              >
                Resumo
              </button>
            </li>
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-info"
              role="tabpanel"
              aria-labelledby="pills-info-tab"
            >
              <form [formGroup]="infoCursoForm">
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-2 mt-2">
                        <div class="form-group">
                          <label for="examplIdeFormControlInput1">Código</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="Id"
                          />
                        </div>
                      </div>

                      <div class="col-5 mt-2">
                        <div class="form-group">
                          <label for="Titulo">Título do Curso</label>
                          <input
                            type="text"
                            class="form-control"
                            id="Titulo"
                            formControlName="Titulo"
                          />
                        </div>
                      </div>

                      <div class="col-2 mt-2">
                        <div class="form-group">
                          <label for="Categoria">Categoria</label>
                          <select
                            class="form-control"
                            id="Categoria"
                            formControlName="Categoria"
                          >
                            <option
                              *ngFor="let item of listCategorias"
                              [value]="item.Id"
                            >
                              {{ item.Nome }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-3 mt-2">
                        <label for="Valor">Valor</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            formControlName="Valor"
                            aria-label=""
                          />
                        </div>
                      </div>

                      <div class="col-12 mt-2">
                        <div class="form-group">
                          <label for="DescricaAbreviada"
                            >Descrição Abreviada</label
                          >
                          <textarea
                            class="form-control"
                            id="DescricaAbreviada"
                            formControlName="DescricaAbreviada"
                            rows="1"
                          ></textarea>
                        </div>
                      </div>

                      <div class="col-12 mt-2">
                        <div class="form-group">
                          <label for="DescricaoCompleta"
                            >Descrição Completa</label
                          >
                          <textarea
                            class="form-control"
                            id="DescricaoCompleta"
                            formControlName="DescricaoCompleta"
                            rows="5"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 border rounded">
                    <div class="row">
                      <div class="col-4 mt-2">
                        <div class="row">
                          <div class="col-12">
                            <label for="PosterCurso"
                              >Poster Curso (720x960)</label
                            >
                          </div>
                          <div class="col-12 mb-2">
                            <div class="form-group" *ngIf="!imgPosterCursoBase">
                              <input
                                *ngIf="!imgPosterCursoBase"
                                #fileInput
                                type="file"
                                class="form-control"
                                id="PosterCurso"
                                accept=".png, .jpg, .jpeg"
                                (change)="
                                  validateAndConvertImage($event, 'poster')
                                "
                              />
                              <br />
                              <small class="text-danger"
                                >Apenas imagens PNG, JPG, JPEG (máx:
                                720x960px)</small
                              >
                              <p
                                *ngIf="imageError?.includes('Poster')"
                                class="text-danger h2"
                              >
                                {{ imageError }}
                              </p>
                            </div>
                          </div>
                          <div class="col-12 mb-2">
                            <img
                              *ngIf="imgPosterCursoBase"
                              src="{{ this.imgPosterCursoBase }}"
                              alt="Poster"
                              style="height: 200px"
                            />
                          </div>
                          <div class="col-12">
                            <button
                              *ngIf="imgPosterCursoBase"
                              class="btn btn-outline-danger"
                              (click)="removePoster()"
                            >
                              <i class="fa-solid fa-trash"></i>&nbsp;Remover
                              Poster
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-8 mt-2">
                        <div class="row">
                          <div class="col-12">
                            <label for="PosterCurso"
                              >Capa Curso (1280x720)</label
                            >
                          </div>
                          <div class="col-12 mb-2">
                            <div class="form-group" *ngIf="!imgCapaCursoBase">
                              <input
                                #fileInput
                                type="file"
                                class="form-control"
                                id="PosterCurso"
                                accept=".png, .jpg, .jpeg"
                                (change)="
                                  validateAndConvertImage($event, 'capaCurso')
                                "
                              />
                              <br />
                              <small class="text-danger"
                                >Apenas imagens PNG, JPG, JPEG (máx:
                                1280x720px)</small
                              >
                              <p
                                *ngIf="imageError?.includes('Capa')"
                                class="text-danger h2"
                              >
                                {{ imageError }}
                              </p>
                            </div>
                          </div>
                          <div class="col-12 mb-2">
                            <img
                              *ngIf="imgCapaCursoBase"
                              src="{{ this.imgCapaCursoBase }}"
                              alt="Capa"
                              style="height: 200px"
                            />
                          </div>
                          <div class="col-12">
                            <button
                              *ngIf="imgCapaCursoBase"
                              class="btn btn-outline-danger"
                              (click)="removeCapaCurso()"
                            >
                              <i class="fa-solid fa-trash"></i>&nbsp;Remover
                              Capa
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-12 mt-2 d-flex align-items-end justify-content-end"
                  >
                    <button
                      class="btn btn-outline-danger me-2"
                      routerLink="/avp/avp-meusCursos"
                    >
                      <i class="fa-solid fa-chevron-circle-left"></i>&nbsp;
                      Voltar para cursos
                    </button>
                    <button class="btn btn-success" (click)="saveInfo()">
                      <i class="fa-solid fa-floppy-disk"></i>&nbsp; Salvar
                      Informações
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <div
              class="tab-pane fade"
              id="pills-modulos"
              role="tabpanel"
              aria-labelledby="pills-modulos-tab"
            >
              <div class="row">
                <div
                  class="col-12 mt-2 d-flex align-items-end justify-content-end"
                >
                  <button
                    class="btn btn-outline-danger me-2"
                    (click)="showNewModulo()"
                  >
                    <i class="fa-solid fa-square-plus"></i>&nbsp; Adicionar Novo Módulo
                  </button>
                </div>
                <div class="col-12">
                  <hr />
                </div>
                <div class="col-12 mt-2">
                  <div class="table-responsive">
                    <nz-table
                      #sortTable
                      [nzData]="listModulos"
                      nzTableLayout="fixed"
                      [nzPageIndex]="pageIndex"
                      [nzPageSize]="5"
                    >
                      <thead>
                        <tr>
                          <th class="text-center" [width]="100">Ordem</th>
                          <th class="text-center">Título</th>
                          <th class="text-center">Descrição</th>
                          <th class="text-center">Capa</th>
                          <th class="text-center">Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of sortTable.data">
                          <td class="text-center">{{ data?.NrAula }}</td>
                          <td class="text-center">{{ data?.Titulo }}</td>
                          <td class="text-center">{{ data?.Descricao }}</td>
                          <td class="text-center">
                            <img
                              *ngIf="data?.UrlImg"
                              [src]="data.UrlImg"
                              alt="Capa"
                              width="80"
                              height="45"
                            />
                          </td>
                          <td class="text-center">
                            <button
                              class="btn btn-danger btn-sm me-2"
                              title="Remover Módulo"
                              (click)="removeModulo(data)"
                            >
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
                <div
                  class="col-12 mt-2 d-flex align-items-end justify-content-end"
                >
                  <button
                    class="btn btn-outline-danger me-2"
                    routerLink="/avp/avp-meusCursos"
                  >
                    <i class="fa-solid fa-chevron-circle-left"></i>&nbsp; Voltar
                    para Cursos
                  </button>
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="pills-aulas"
              role="tabpanel"
              aria-labelledby="pills-aulas-tab"
            >
              <div class="row">
                <div
                class="col-12 mt-2 d-flex align-items-end justify-content-end"
              >
                <button
                  class="btn btn-outline-danger me-2"
                  (click)="showNewLesson()"
                >
                  <i class="fa-solid fa-square-plus"></i>&nbsp; Adicionar Nova Aula
                </button>
              </div>
                <div class="col-12">
                  <hr />
                </div>
                <div class="col-12 mt-2">
                  <div class="table-responsive">
                    <nz-table
                      #sortTable2
                      [nzData]="listAulas"
                      nzTableLayout="fixed"
                      [nzPageIndex]="pageIndex"
                      [nzPageSize]="5"
                    >
                      <thead>
                        <tr>
                          <th class="text-center">Ordem</th>
                          <th class="text-center">Módulo</th>
                          <th class="text-center">Título</th>
                          <th class="text-center">Descrição</th>
                          <th class="text-center">Url Vídeo</th>
                          <th class="text-center">Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of sortTable2.data">
                          <td class="text-center">{{ data?.NrVideo }}</td>
                          <td class="text-center">{{ data?.Modulo }}</td>
                          <td class="text-center">{{ data?.AulaTitulo }}</td>
                          <td class="text-center">{{ data?.Descricao }}</td>
                          <td class="text-center">{{ data?.UrlVideo }}</td>
                          <td class="text-center">
                            <button
                              class="btn btn-danger btn-sm me-2"
                              title="Remover Aula"
                              (click)="removeAula(data)"
                            >
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="pills-resumo"
              role="tabpanel"
              aria-labelledby="pills-resumo-tab"
            >
              <div class="top">
                <div class="columns">
                  <div class="column is-full featured_wrapper p-0">
                    <img [src]="imgCapaCursoBase" class="featured" />
                    <div class="title_wrapper h-100 w-50">
                      <h1 class="title is-1 has-text-white text-danger">
                        {{ dadosCurso[0]?.Titulo }}
                      </h1>
                      <span class="has-text-white">{{
                        dadosCurso[0]?.DescricaoResumida
                      }}</span
                      ><br />
                      <button class="btn btn-outline-danger mt-5">
                        Estudar Agora
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-wrapper custom-scrollbar mt-5 mb-5">
                <div class="row flex-nowrap custom-row">
                  <div
                    class="col-xl-3 col-md-4 col-sm-6 col-12"
                    *ngFor="let card of listModulos"
                  >
                    <img
                      class="image-card-aula border border-dark"
                      [src]="card.UrlImg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal modulos -->
  <nz-modal
    [(nzVisible)]="isVisibleModule"
    nzTitle="Adicionar Novo Módulo"
    (nzOnCancel)="handleCancelModulo()"
    (nzOnOk)="handleOkModulo()"
    [nzFooter]="footeModulo"
  >
    <ng-container *nzModalContent>
      <form [formGroup]="modulosForm">
        <div class="row">
          <div class="col-3 mt-2">
            <label for="OrdemModulo">Ordem</label>
            <div class="input-group mb-3">
              <input
                type="number"
                class="form-control"
                formControlName="OrdemModulo"
                aria-label=""
              />
            </div>
          </div>

          <div class="col-9 mt-2">
            <div class="form-group">
              <label for="exampleFormControlInput1">Título do Módulo</label>
              <input
                type="text"
                class="form-control"
                id="TituloModulo"
                formControlName="TituloModulo"
              />
            </div>
          </div>

          <div class="col-12 mt-2">
            <div class="form-group">
              <label for="exampleFormControlInput1">Descrição do Módulo</label>
              <input
                type="text"
                class="form-control"
                id="DescricaoModulo"
                formControlName="DescricaoModulo"
              />
            </div>
          </div>

          <div class="col-12 mt-2">
            <div class="form-group">
              <label for="capaModulo">Capa do Módulo (1280x720)</label>
              <input
                #fileInput
                type="file"
                class="form-control"
                id="capaModulo"
                accept=".png, .jpg, .jpeg"
                (change)="validateAndConvertImage($event, 'capaModulo')"
              />
              <small class="text-success" *ngIf="imgCapaModuloBase != ''"
                >Imagem Selecionada com Sucesso!</small
              >
              <small class="text-danger" *ngIf="imgCapaModuloBase === ''"
                >Apenas imagens PNG, JPG, JPEG (máx: 1280x720px)</small
              >
              <p *ngIf="imageError" class="text-danger">{{ imageError }}</p>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-template #footeModulo>
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-sm btn-outline-danger" (click)="addModulo()">
            <i class="fa-solid fa-square-plus"></i>&nbsp; Adicionar
          </button>
        </div>
      </div>
    </ng-template>
  </nz-modal>

  <!-- modal aulas -->
  <nz-modal
    [(nzVisible)]="isVisibleLesson"
    nzTitle="Adicionar Nova Aula"
    (nzOnCancel)="handleCancelAula()"
    (nzOnOk)="handleOkAula()"
    [nzFooter]="footeAula"
  >
    <ng-container *nzModalContent>
      <form [formGroup]="aulasForm">
        <div class="row">
          <div class="col-6 mt-2">
            <label for="TituloModuloAula">Módulo</label>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="TituloModuloAula"
            >
              <option *ngFor="let item of listModulos" [value]="item.ModuloId">
                {{ item.Titulo }}
              </option>
            </select>
          </div>

          <div class="col-3 mt-2">
            <label for="NrVideo">Ordem</label>
            <div class="input-group mb-3">
              <input
                type="number"
                class="form-control"
                formControlName="NrVideo"
                aria-label=""
              />
            </div>
          </div>

          <div class="col-3 mt-2">
            <label for="Duracao">Duracao (segundos)</label>
            <div class="input-group mb-3">
              <input
                type="number"
                class="form-control"
                formControlName="Duracao"
                aria-label=""
              />
            </div>
          </div>

          <div class="col-12 mt-2">
            <div class="form-group">
              <label for="TituloAula">Título da aula</label>
              <input
                type="text"
                class="form-control"
                id="TituloAula"
                formControlName="TituloAula"
              />
            </div>
          </div>

          <div class="col-12 mt-2">
            <div class="form-group">
              <label for="DescricaoAula">Descrição da Aula</label>
              <input
                type="text"
                class="form-control"
                id="DescricaoAula"
                formControlName="DescricaoAula"
              />
            </div>
          </div>

          <div class="col-12 mt-2">
            <div class="form-group">
              <label for="capaModulo">Url do Vídeo</label>
              <input
                type="text"
                class="form-control"
                id="UrlVideo"
                formControlName="UrlVideo"
              />
            </div>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-template #footeAula>
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-sm btn-outline-danger" (click)="addAula()">
            <i class="fa-solid fa-square-plus"></i>&nbsp; Adicionar
          </button>
        </div>
      </div>
    </ng-template>
  </nz-modal>
</div>
