
<div class="dash"  *ngIf="!isLoadingData">
    <div class="row p-0">
        
        <div class="col-3" *ngFor="let card of dash">
            <div class="card shadow">
                <div class="card-header h4 text-light">
                    {{card.title}}
                    <span class="badge bg-danger position-absolute end-0 me-2 badge-click" *ngIf="card.notView">{{card.notView}}&nbsp; Não respondidos</span>
                </div>
                <div class="card-body h4 text-light d-flex justify-content-between ps-5 pe-5">
                    <span>{{card.value}}</span>
                    <i class="fa-2x" [class]="card.icon + ' text-' + card.color"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="filter"  *ngIf="!isLoadingData">
    <div class="row">

        <div class="col-2">
            <nz-range-picker></nz-range-picker>
        </div>

        <div class="col-4">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Pesquisar" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <div class="rounded">
                    <button class="btn btn-outline-danger d-flex align-items-center" style="margin-right: 1px;" nzSearch>
                        <i class="fa fa-magnifying-glass"></i>
                    </button>
                </div>
            </ng-template>
        </div>

        <div class="col-6 d-flex align-items-center justify-content-end">
            <button class="btn btn-danger d-flex gap-2 align-items-center" (click)="statusChangeNewCourse(true,null, 0)">
                <i class="fa fa-plus-square fa-xl"></i>
                <span>Cadastrar Curso</span>
            </button>
        </div>
    </div>
</div>

<div class="data"  *ngIf="!isLoadingData else loadingData">
    <div class="row">
        <div class="col-12">
            <nz-table class="rounded-table" #sortTable [nzData]="listCourses" nzTableLayout="fixed">
                <thead>
                    <tr>
                    <th *ngFor="let column of listOfColumn"
                        [nzSortFn]="column.compare"
                        [nzSortPriority]="column.priority">
                        {{ column.title }}
                    </th>
                    <th [width]="100">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of sortTable.data">
                    <td>{{ data.Title }}</td>
                    <td>{{ data.NameCategory }}</td>
                    <td>{{ data.SecondsDuration }}</td>
                    <td>{{ data.Status }}</td>
                    <td>{{ data.DateRegister }}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-warning" [routerLink]="'/avp/course-detail'" [queryParams]="{ curso: data.CodeCourse}" routerLinkActive="router-link-active">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<ng-template #loadingData>
    <div class="h-50 text-danger h3 mt-5 d-flex justify-content-center align-items-center flex-column">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <span>Carregando</span>
    </div>
</ng-template>

<app-new-course *ngIf="statusNewCourse" (statusChange)="statusChangeNewCourse($event, null, 0);" [dataCourse]="dataCourse" [statusModal]="statusNewCourse" [listTeachers]="listTeachers" [listCourseCategories]="listCourseCategorys"></app-new-course>