# Banco de Dados
ConnectionStrings__DefaultConnection=Server=mysql_banco;Port=3306;Database=theos_bd;Uid=root;Pwd=SENHA_DO_BANCO_DE_DADOS_AQUI;Charset=utf8;SslMode=none

# Chave JWT
Jwt__Key=SUA_CHAVE_SECRETA_JWT_AQUI_BEM_SEGURA_COM_NO_MINIMO_32_CARACTERES
Jwt__Issuer=apitTheos
Jwt__Audience=apitTheosUsers

# Integração Agivys
Agivys__Email=instituto.theos.ituverava@gmail.com
Agivys__Password=SUA_SENHA_AQUI
