<div
    *ngIf="loading"
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        <img
            src="https://i.imgur.com/ISvbhQp.png"
            alt="Loading..."
            class="img-fluid animate-grow"
            style="width: 50px; height: 50px; "
        />
        </div>
        <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-danger"><strong>Carregando...</strong></span>
        </div>
    </div>
</div>
