<nz-layout>
  <nz-header class="bg-dark">
    
    <ul nz-menu nzMode="horizontal" class="bg-dark text-light d-none d-sm-flex justify-content-end ps-5 pe-5">
      <div class="logo">
        <img src="https://i.imgur.com/ISvbhQp.png" width="30" height="30" />
      </div>

      <li nz-menu-item *ngFor="let item of menu" [routerLink]="item.route" routerLinkActive="ant-menu-item-selected"
        [routerLinkActiveOptions]="{ exact: true }">
        <span>
          <b>{{ item.name }}</b>
        </span>
      </li>
    </ul>

    <div class="d-flex d-sm-none align-items-center justify-content-between h-100 ps-3 pe-3">
      <div class="logo">
        <img src="https://i.imgur.com/ISvbhQp.png" width="30" height="30" />
      </div>

      <button nz-button nzType="text" class="text-light" (click)="openMobileMenu()">
        <i class="fa fa-bars" style="font-size: 1.5rem;"></i>
      </button>
    </div>

  </nz-header>

  <nz-drawer
    [nzWidth]="250"
    [nzClosable]="true"
    [nzVisible]="isMobileMenuOpen"
    nzPlacement="right"
    nzTitle="Menu"
    (nzOnClose)="closeMobileMenu()"
    nzWrapClassName="mobile-drawer"
  >
    <ng-container *nzDrawerContent>
      <ul nz-menu nzTheme="dark" nzMode="inline" class="bg-dark border-0">
        <li nz-menu-item *ngFor="let item of menu" 
            [routerLink]="item.route"
            (click)="closeMobileMenu()">
          <span [ngClass]="{'text-danger': item.name === 'Entrar'}">
            <b>{{ item.name }}</b>
          </span>
        </li>
      </ul>
    </ng-container>
  </nz-drawer>

  <nz-content class="bg-dark">
    <div class="inner-content bg-dark">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  
  <nz-footer class="bg-dark text-light">
    <a target="_blank" href="https://joederblanca.com.br/">Joeder Blanca. <i class="fa fa-code" aria-hidden="true"></i> Desenvolvimento de Software</a>
  </nz-footer>
</nz-layout>