<p>avp-home works!</p>
<div class="container-fluid p-0" 
    style="
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        ">
    <div class="row w-100 p-xl-5 ms-xl-5">
        <div class="col-md-6 col-xl-2 col-sm-6 col-6 mt-4 p-sm-0 p-1">
            <a routerLink="../avp-meusCursos">
                <div class="card bg-black border-dark m-sm-0 m-xl-2 m-md-2 card-menu-danger h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <span class="h6 text-secondary"><span class="hidden-sm"></span> Cursos</span>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <!-- <span class="h2 text-light text-responsive"><strong>{{cursos}}</strong></span> -->
                            </div>
                            <div class="col-6 d-flex justify-content-end align-items-center">
                                <i class="fa-solid fa-book-open fa-3x text-info hidden-sm"></i>
                                <i class="fa-solid fa-book-open fa-2x text-info view-sm"></i>
                            </div>
                        </div>
                    </div>
                </div>  
            </a>
        </div>
        <div class="col-md-6 col-xl-2 col-6 mt-4 p-sm-0 p-1">
            <a routerLink="../avp-meusAlunos">
                <div class="card bg-black border-dark m-sm-0 m-xl-2 m-md-2 card-menu-danger h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <span class="h6 text-secondary"><span class="hidden-sm"></span> Alunos</span>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <!-- <span class="h2 text-light text-responsive"><strong>{{alunos}}</strong></span> -->
                            </div>
                            <div class="col-6 d-flex justify-content-end align-items-center">
                                <i class="fa-solid fa-users fa-3x text-success hidden-sm"></i>
                                <i class="fa-solid fa-users fa-2x text-success view-sm"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </a>
        </div>
    </div>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mt-4">
                <h4 class="text-light">Menu</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-auto col-xl-auto mt-2">
                <button class="btn btn-outline-danger w-100">Cadastrar novo Curso</button>
            </div>
        </div>
    </div> -->


</div>

