<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black-tr mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{{urlImgIco}}" width="50" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" ><span class="h6"><strong>HOME</strong></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cursos"><span class="h6"><strong>CURSOS</strong></span></a>
          </li>
          <hr class="text-light">
          <li class="nav-item">
            <button class="nav-link btn btn-sm btn-danger text-light" routerLink="/login"><span class=""><strong>ENTRAR</strong></span></button>
          </li>
          <li class="nav-item">
            <button class="nav-link btn btn-sm btn-danger text-light" routerLink="/registrar"><span class=""><strong>REGISTRAR</strong></span></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
    <div class="row justify-content-center mt-5  pt-5">
      <div class="col-md-10">
        <h1 class="text-center text-danger mb-4">Termos e Condições de Uso</h1>
        <p class="text-justify text-light">
          <strong>Última atualização:</strong> 17/08/2024
        </p>
        <p class="text-justify text-light">
          Bem-vindo(a) à nossa plataforma de cursos teológicos! Antes de utilizar nossos serviços, pedimos que leia atentamente os seguintes Termos e Condições de Uso. Ao acessar ou utilizar nossa plataforma, você concorda em cumprir e estar vinculado a estes Termos. Caso não concorde com algum dos termos aqui descritos, por favor, não utilize nossa plataforma.
        </p>

        <h2 class="text-danger mt-4">1. Aceitação dos Termos</h2>
        <p class="text-justify text-light">
          Ao se cadastrar e utilizar a plataforma, você concorda com todos os termos, condições e políticas estabelecidas neste documento. Estes Termos poderão ser atualizados periodicamente, e qualquer alteração será comunicada através da plataforma ou por e-mail.
        </p>

        <h2 class="text-danger mt-4">2. Cadastro e Coleta de Dados</h2>
        <p class="text-justify text-light">
          Para acessar os cursos oferecidos pela plataforma, é necessário criar uma conta fornecendo informações pessoais básicas, como nome, e-mail e outros dados de contato. Você concorda em fornecer informações verdadeiras, precisas, completas e atualizadas. Nós respeitamos a sua privacidade e garantimos que seus dados serão utilizados exclusivamente para a finalidade de oferecer e melhorar nossos serviços. Os dados coletados estão sujeitos à nossa Política de Privacidade, que detalha como seus dados são protegidos e utilizados.
        </p>

        <h2 class="text-danger mt-4">3. Acesso aos Cursos</h2>
        <p class="text-justify text-light">
          Os cursos oferecidos na plataforma são gravados por teólogos respeitados, e todos os direitos sobre o conteúdo são reservados aos autores e à plataforma. Ao adquirir acesso a um curso, você recebe uma licença pessoal, intransferível e não exclusiva para assistir ao conteúdo. É proibido copiar, distribuir, modificar, exibir ou explorar comercialmente qualquer conteúdo sem a permissão expressa por escrito dos detentores dos direitos.
        </p>

        <h2 class="text-danger mt-4">4. Pagamentos</h2>
        <p class="text-justify text-light">
          Os pagamentos pelos cursos podem ser realizados via PIX ou cartões de crédito. Utilizamos uma API de pagamento fornecida por uma empresa conceituada e segura, que garante a proteção das suas informações financeiras. Ao realizar um pagamento, você concorda em cumprir as políticas e os termos de uso do provedor de pagamento. A plataforma não armazena informações financeiras, como números de cartão de crédito.
        </p>

        <h2 class="text-danger mt-4">5. Direitos Autorais e Propriedade Intelectual</h2>
        <p class="text-justify text-light">
          Todos os cursos, textos, vídeos, imagens, logos e demais conteúdos disponibilizados na plataforma são protegidos por leis de direitos autorais e outras leis de propriedade intelectual. Qualquer uso não autorizado do conteúdo pode resultar em sanções legais.
        </p>

        <h2 class="text-danger mt-4">6. Cancelamento e Reembolso</h2>
        <p class="text-justify text-light">
          Políticas específicas de cancelamento e reembolso podem ser aplicadas para cada curso e serão comunicadas no momento da compra. Se você tiver dúvidas ou solicitações de reembolso, entre em contato com nossa equipe de suporte através dos canais indicados na plataforma.
        </p>

        <h2 class="text-danger mt-4">7. Responsabilidades do Usuário</h2>
        <p class="text-justify text-light">
          Você é responsável por todas as atividades realizadas em sua conta. A plataforma não se responsabiliza por quaisquer perdas ou danos decorrentes do uso indevido da sua conta por terceiros. É importante manter suas credenciais de acesso seguras e informar imediatamente à plataforma em caso de suspeita de acesso não autorizado.
        </p>

        <h2 class="text-danger mt-4">8. Limitação de Responsabilidade</h2>
        <p class="text-justify text-light">
          A plataforma se esforça para oferecer cursos de alta qualidade, mas não garante que o conteúdo esteja isento de erros ou que os serviços serão ininterruptos. Em nenhuma hipótese a plataforma será responsável por danos diretos, indiretos, incidentais, especiais ou consequenciais decorrentes do uso ou da incapacidade de uso dos serviços oferecidos.
        </p>

        <h2 class="text-danger mt-4">9. Modificações nos Termos e nos Serviços</h2>
        <p class="text-justify text-light">
          A plataforma se reserva o direito de modificar estes Termos e Condições de Uso, bem como os serviços oferecidos, a qualquer momento. As alterações entrarão em vigor após a sua publicação na plataforma. É sua responsabilidade revisar os Termos periodicamente.
        </p>

        <h2 class="text-danger mt-4">10. Lei Aplicável e Jurisdição</h2>
        <p class="text-justify text-light">
          Estes Termos e Condições de Uso são regidos pelas leis do Brasil. Qualquer disputa ou controvérsia decorrente do uso da plataforma será submetida à jurisdição exclusiva dos tribunais competentes do Brasil.
        </p>

        <h2 class="text-danger mt-4">11. Contato</h2>
        <p class="text-justify text-light">
          Se você tiver dúvidas ou preocupações sobre estes Termos e Condições de Uso, entre em contato conosco através dos canais de suporte disponíveis na plataforma.
        </p>

        <p class="text-justify text-light">
          <strong>Instituo Teológico Theos</strong><br>
          Ituverava - SP<br>
          Suporte Ligue para:<br>
          16 98876-6522
        </p>
      </div>
    </div>
  </div>