<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Cadastrar Curso"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="footer"
  [nzCloseIcon]="closeIcon"
>
  <ng-container *nzModalContent>
    <form [formGroup]="newCursoForm">
      <div class="row">
        <div class="col-12 mt-2">
          <div class="form-group">
            <label for="exampleFormControlInput1">Título do Curso</label>
            <input
              type="text"
              class="form-control"
              id="Titulo"
              formControlName="Titulo"
            />
          </div>
        </div>
        <div class="col-6 mt-2">
          <div class="form-group">
            <label for="Categoria">Categoria</label>
            <select
              class="form-control"
              id="Categoria"
              formControlName="Categoria"
            >
              <option *ngFor="let item of listCategorias" [value]="item.Id">
                {{ item.Nome }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6 mt-2">
          <label for="Categoria">Valor</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
            </div>
            <input
              type="number"
              class="form-control"
              formControlName="Valor"
              aria-label=""
            />
          </div>
        </div>
        <div class="col-12 mt-2">
          <div class="form-group">
            <label for="DescricaAbreviada">Descrição Abreviada</label>
            <textarea
              class="form-control"
              id="DescricaAbreviada"
              formControlName="DescricaAbreviada"
              rows="1"
            ></textarea>
          </div>
        </div>
        <div class="col-12 mt-2">
          <div class="form-group">
            <label for="DescricaoCompleta">Descrição Completa</label>
            <textarea
              class="form-control"
              id="DescricaoCompleta"
              formControlName="DescricaoCompleta"
              rows="5"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-template #footer>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-sm btn-success" (click)="saveCurso()">
          <i class="fa-solid fa-floppy-disk"></i> Salvar Curso
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #closeIcon>
    <button class="btn btn-sm btn-danger">
      <i class="fa-solid fa-square-xmark" (click)="handleCancel()"></i>
    </button>
  </ng-template>
  
</nz-modal>
