<div class="row h-100">
    <div class="col-xl-8 col-12 d-flex justify-content-center align-items-top pb-5">
      <div class="card text-center bg-dark-light card-login">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
             <a routerLink="/home"> <img src="https://res.cloudinary.com/dez4evjlq/image/upload/v1724259645/header_earf0j.png" width="300" alt=""></a>
            </div>
            <div class="col-12 d-flex justify-content-center mt-5">
              <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-item>
                  <nz-form-control nzErrorTip="Por favor, informe o usuário!">
                    <nz-input-group nzPrefixIcon="user">
                      <input type="text" nz-input formControlName="userName" placeholder="Usuário" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Por favor, informe a senha!">
                    <nz-input-group nzPrefixIcon="lock">
                      <input type="password" nz-input formControlName="password" placeholder="Senha" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <div nz-row class="login-form-margin">
                  <div nz-col [nzSpan]="12">
                    <label nz-checkbox formControlName="remember">
                      <span class="text-light">Lembrar-me</span>
                    </label>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <a class="login-form-forgot" routerLink="/recuperar-senha">Esqueceu a senha?</a>
                  </div>
                </div>
                <button nz-button class="login-form-button login-form-margin" nzDanger="" [nzType]="'primary'">Logar</button>
                <a class="text-light" routerLink="/registrar">Cadastrar-se Agora!</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">

    </div>
</div>