<header id="header" class="ex-header">
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-md-12 img-header-about p-0">
                <img [src]="urlImgHeader" alt="">
            </div>
        </div> 
    </div>
</header>

<div class="bg-black pt-3 text-light">
    <div class="container bg-dark-curso">
        <div class="row p-xl-3">
            <div class="col-12 col-sm-6 col-xl-4 mt-4 mb-4" *ngFor="let item of teachers">
                <div class="card bg-dark h-100">
                    <div class="card-body h-100">
                        <div class="row h-100">
                            <div class="col-4 text-danger text-center d-flex flex-column gap-3">
                                <img class="rounded shadow" width="100" [src]="item.LinkImagem" alt="">
                                <span class="h6">{{item.Formacao}}</span>
                                <div class="row">
                                    <div class="col-auto text-justify">
                                       
                                    </div>
                                    <div class="col-auto text-justify">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12 text-danger">
                                        <span class="h4">{{item.Nome}}</span>
                                        <span class="text-secondary h5 position-absolute" style="right: 10px; top: 10px;">"<b>{{item.Idade}}</b></span>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-secondary text-justify">
                                            {{item.Bio}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex align-items-end justify-content-between text-danger text-uppercase gap-2">
                                <span>{{item.Cidade}}</span>
                                <i class="fa-brands fa-youtube fa-xl mb-2 cursor-pointer" title="Cursos: {{item.Cursos}}"></i>({{item.Cursos}})
                                <i class="fa fa-microphone fa-xl mb-2 cursor-pointer" title="Aulas: {{item.Cursos}}"></i>({{item.Cursos}})
                                <i class="fa-brands fa-instagram fa-xl mb-2 cursor-pointer" title="Intagram"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-landing-footer></app-landing-footer>
