.method-wrapper {
  background-color: transparent;
  border-color: #2C2C2C!important;

  &:hover {
    background-color: #0B0B0B;
    border-color: #2C2C2C!important;
  }
}

.payment-card {
  &.active {
    .method-wrapper {
      background-color: rgba(198, 40, 40, 0.1) !important;
      border-color: #C62828 !important;
      box-shadow: 0 4px 6px -1px rgba(198, 40, 40, 0.1), 0 2px 4px -1px rgba(198, 40, 40, 0.06);

      .form-check-input {
        background-color: #C62828;
        border-color: #C62828;
      }
    }
  }
}

.form-check-input {
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
  
  &:checked {
    background-color: #C62828;
    border-color: #C62828;
  }
}

.animated-shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}
