<nz-modal [(nzVisible)]="isVisible" [nzTitle]="header" [nzCloseIcon]="icon" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzWidth]="1000">
  <ng-container *nzModalContent>
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Conteúdo"></nz-step>
      <nz-step nzTitle="Módulos"></nz-step>
      <nz-step nzTitle="Aulas"></nz-step>
      <nz-step nzTitle="Concluir"></nz-step>
    </nz-steps>
    <div class="steps-content">

      <div class="pt-4" *ngIf="current === 0" style="height: 70vh;">
        <app-form-course *ngIf="!isLoading else loadingData" [listCourseCategories]="listCourseCategories"></app-form-course>
      </div>

      <div class="pt-4" *ngIf="current === 1" style="height: 70vh;">

        <app-form-module *ngIf="!isLoading else loadingData" [listTeachers]="listTeachers" (bodyModule)="recieveModule($event)"></app-form-module>

           <nz-table class="rounded-table" 
                  #sortTable 
                  [nzData]="listOfModules" 
                  nzTableLayout="fixed" 
                  #tbl 
                  [nzFrontPagination]="true" 
                  [nzShowPagination]="true" 
                  [nzPageSize]="3">
            <thead>
                <tr>
                    <th *ngFor="let column of listOfColumnsModules">
                        {{ column.title }}
                    </th>
                    <th class="text-center" [width]="100">Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of tbl.data">
                    <td *ngFor="let column of listOfColumnsModules">
                        <ng-container [ngSwitch]="column.key">

                            <img *ngSwitchCase="'Img'" [src]="data[column.key]" alt="Capa" width="60" />
                            <span *ngSwitchDefault>{{ data[column.key] }}</span>

                        </ng-container>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
      </div>

      <div class="pt-4" *ngIf="current === 2" style="height: 70vh;">
        <app-form-leasson *ngIf="!isLoading else loadingData" [listModules]="listOfModules" (bodyLesson)="recieveLesson($event)"></app-form-leasson>
          <nz-table class="rounded-table" #sortTable [nzData]="listOfLessons" nzTableLayout="fixed" #tbl [nzData]="listOfLessons" [nzFrontPagination]="true" [nzShowPagination]="true" [nzPageSize]="3">
              <thead>
                <tr>
                  <th *ngFor="let column of listOfColumnsLessons">
                    {{ column.title }}
                  </th>
                  <th class="text-center" [width]="100">Excluir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of tbl.data">
                  <td *ngFor="let column of listOfColumnsLessons">
                    <ng-container [ngSwitch]="column.key">
                      <img *ngSwitchCase="'image'" [src]="data[column.key]" alt="Capa" width="60" />
                      <span *ngSwitchDefault>{{ data[column.key] }}</span>
                    </ng-container>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-outline-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
      </div>

      <div class="pt-4" *ngIf="current === 3" style="height: 70vh;">
        
        <div class="row" *ngIf="!isLoading else loadingData">
          <div class="col-3 d-flex align-items-start justify-content-between">
            <img src="/images/assets/poster.png" style="width: 100%" alt="">
          </div>
          <div class="col-9 pt-4">
            <span class="text-danger h5">Descrição resumida...Descrição resumida...Descrição resumida...Descrição resumida...</span>
            <p class="text-justify text-secondary h6">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Curabitur vitae nunc sed velit dignissim sodales ut eu sem.
            </p>
          </div>
          <div class="col-12">
            <div class="row h-100 align-items-center flex-nowrap overflow-x-auto horizontal-scroll-custom">
              <div class="col-5">
                <img src="/images/assets/miniatura.png" style="width: 100%;" alt="">
              </div>
              <div class="col-5">
                <img src="/images/assets/miniatura.png" style="width: 100%;" alt="">
              </div>
              <div class="col-5">
                <img src="/images/assets/miniatura.png" style="width: 100%;" alt="">
              </div>
              <div class="col-5">
                <img src="/images/assets/miniatura.png" style="width: 100%;" alt="">
              </div>
              <div class="col-5">
                <img src="/images/assets/miniatura.png" style="width: 100%;" alt="">
              </div>
            </div>
          </div>

        </div>
      </div>
      
    </div>
    <div class="steps-action d-flex align-items-center justify-content-end gap-2">
      <button class="btn btn-sm btn-danger" *ngIf="current > 0" (click)="pre()"> Anterior </button>
      <button class="btn btn-sm btn-danger" *ngIf="current < 3" (click)="next()"> Próximo </button>
      <button class="btn btn-sm btn-success" *ngIf="current  === 3" (click)="done()"> Concluir </button>
    </div>
  </ng-container>
  <ng-template #header>
    <span class="text-light">Cadastrar Novo Curso</span>
  </ng-template>
  <ng-template #icon>
    <i class="fa fa-xmark-square fa-xl close-icon"></i>
  </ng-template>
</nz-modal>
<ng-template #loadingData>
    <div class="h-50 text-danger h3 mt-5 d-flex justify-content-center align-items-center flex-column">
        <div class="spinner-border text-danger" role="status">
        </div>
        <div *ngIf="progressLoading > 0">
          <span class="h4">{{progressLabel}}</span>
          <div class="progress mt-3">
            <div 
              class="progress-bar progress-bar-striped progress-bar-animated bg-danger" 
              role="progressbar"
              [style.width.%]="progressLoading"
              [attr.aria-valuenow]="progressLoading" 
              aria-valuemin="0" 
              aria-valuemax="100">
              {{ progressLoading }}%
            </div>
          </div>
        </div>
    </div>
    
</ng-template>