<div
  *ngIf="loading"
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="row">
      <div class="col-12 d-flex justify-content-center">
      <img
          src="https://i.imgur.com/ISvbhQp.png"
          alt="Loading..."
          class="img-fluid animate-grow"
          style="width: 50px; height: 50px; "
      />
      </div>
      <div class="col-12 mt-5 d-flex justify-content-center">
      <span class="text-danger"><strong>Carregando Módulos...</strong></span>
      </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row mt-0">
                <div class="col-md-6 col-xl-3 col-6">
                    <div class="card bg-black border-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <span class="h5 text-secondary text-responsive"><span class="hidden-sm">Módulos</span> Concluídos</span>
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <span class="h2 text-light text-responsive"><strong>{{countModulos(dadosCurso)}}/{{dadosCurso.length}}</strong></span>
                                </div>
                                <div class="col-6 d-flex justify-content-end align-items-center">
                                    <i class="fa-solid fa-check-circle fa-3x text-success hidden-sm"></i>
                                    <i class="fa-solid fa-check-circle fa-2x text-success view-sm"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-xl-3 col-6">
                    <div class="card bg-black border-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <span class="h5 text-secondary"> Questionários</span>
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <span class="text-light"><strong><i class="fa-solid fa-circle-xmark text-danger"></i><span class="h2">&nbsp;&nbsp;{{questionarios[0].respondidos}}/{{questionarios[0].pendentes}}&nbsp;&nbsp;</span><i class="fa-solid fa-circle-check text-success"></i></strong></span>
                                </div>
                                <div class="col-6 d-flex justify-content-end align-items-center">
                                    <i class="fa-solid fa-list-check fa-3x text-warning hidden-sm"></i>
                                    <i class="fa-solid fa-list-check fa-2x text-warning view-sm"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-md-6 col-xl-3 col-6">
                    <div class="card bg-black border-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <span class="h5 text-secondary"> Forum</span>
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <span class="h2 text-light"><strong>{{forumCriado}}</strong></span>
                                </div>
                                <div class="col-6 d-flex justify-content-end align-items-center">
                                    <i class="fa-solid fa-comment fa-3x text-info hidden-sm"></i>
                                    <i class="fa-solid fa-comment fa-2x text-info view-sm"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-6 col-xl-3 col-6">
                    <div class="card bg-black border-dark">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12">
                                    <span class="h5 text-secondary text-responsive"><span class="hidden-sm">Percentual</span> Progresso</span>
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <span class="h2 text-light text-responsive"><strong>{{calcularProgresso(dadosCurso)}}</strong>%</span>
                                </div>
                                <div class="col-6 d-flex justify-content-end align-items-center">
                                    <i class="fa-solid fa-arrow-trend-up fa-3x text-primary hidden-sm"></i>
                                    <i class="fa-solid fa-arrow-trend-up fa-2x text-primary view-sm"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 p-0 mt-2">
            <div class="text-divider">
              <span class="text-light">Módulos</span>
            </div>
          </div>
        <div class="col-12 p-0">
            <div class="row" *ngIf="dadosCurso.length > 0">
                <div class="col-xl-3 col-md-4 col-sm-6 col-12" *ngFor="let modulo of dadosCurso" style="position: relative;" [title]="dadosCurso[0].Desc">
                    <img class="image-card-aula border border-dark" [src]="modulo.UrlImg" alt="capaModulo">
                    <button class="btn play-button" 
                    routerLink="../ava-curso-view" [queryParams]="{curso: dadosCurso[0].CursoId, modulo: modulo.ModuloId}"
                    [ngClass]="{'btn-outline-secondary': modulo.StatusConclusao === 'C', 'btn-danger': modulo.StatusConclusao === 'P'}">
                      <i class="fa-solid" [ngClass]="{'fa-refresh': modulo.StatusConclusao === 'C', 'fa-play': modulo.StatusConclusao === 'P'}"></i><b class="hidden-sm">&nbsp;&nbsp;</b>
                      <span class="hidden-md">{{ modulo.StatusConclusao === 'C' ? 'Rever' : 'Assistir' }}</span>
                    </button>     
                </div>
            </div>
                                                           
          </div>          
    </div>
</div>
