
<div class="row h-100">
  <div class="col-xl-6 col-12 d-flex justify-content-center align-items-top">
    <div class="card text-center bg-dark-light card-login">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <a routerLink="/home"> <img src="https://res.cloudinary.com/dez4evjlq/image/upload/v1724259645/header_earf0j.png" width="300" alt=""></a>
           </div>
          <div class="col-12 d-flex justify-content-center mt-5 text-center" >
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
              <div class="row">
                <div class="col-12">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="O e-mail informado não é válido">
                      <nz-input-group nzPrefixIcon="mail">
                        <input nz-input formControlName="email" id="email" placeholder="E-mail" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="A Senha é um campo obrigatório">
                      <nz-input-group nzPrefixIcon="lock">
                        <input
                        nz-input
                        type="password"
                        id="password"
                        formControlName="password"
                        placeholder="Senha"
                        (ngModelChange)="updateConfirmValidator()"
                      />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-6">
                  <nz-form-item>
                    <nz-form-control [nzErrorTip]="errorTpl">
                      <nz-input-group nzPrefixIcon="lock">
                        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" placeholder="Confirme a Senha!"/>
                      </nz-input-group>
                      <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">A Confirmação de senha é obrigatória</ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">
                          A duas Senhas não coincidem.
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-6">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="O Usuário é obrigatório!">
                      <nz-input-group nzPrefixIcon="user">
                        <input nz-input id="username" formControlName="username" placeholder="Usuário"/>
                      </nz-input-group>                      
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-6">
                  <nz-form-item>
                    <nz-form-control
                      [nzValidateStatus]="validateForm.controls['phoneNumber']"
                      nzErrorTip="o Telefone de contato é obrigatório!" >
                      <nz-input-group nzPrefixIcon="phone">
                        <input nz-input formControlName="phoneNumber" id="'phoneNumber'" placeholder="Telefone Contato" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div class="col-12">
                <nz-form-item nz-row class="register-area">
                  <nz-form-control [nzErrorTip]="agreeErrorTpl">
                    <label nz-checkbox formControlName="agree">
                      <span class="text-white">
                        Eu Li e Aceito os
                        <a routerLink="/termos">Termos de Uso</a>
                      </span>
                    </label>
                  </nz-form-control>
                </nz-form-item>
                <ng-template #agreeErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">É necessário aceitar os termos de uso do site!</ng-container>
                </ng-template>
              </div>
              <nz-form-item nz-row class="register-area">
                <nz-form-control >
                  <button class="btn btn-danger mt-3">Cadastrar-se</button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">

  </div>
</div>

