<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black-tr mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{{urlImgIco}}" width="50" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" ><span class="h6"><strong>HOME</strong></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cursos"><span class="h6"><strong>CURSOS</strong></span></a>
          </li>
          <hr class="text-light">
          <li class="nav-item">
            <button class="nav-link btn btn-sm btn-danger text-light" routerLink="/login"><span class=""><strong>ENTRAR</strong></span></button>
          </li>
          <li class="nav-item">
            <button class="nav-link btn btn-sm btn-danger text-light" routerLink="/registrar"><span class=""><strong>REGISTRAR</strong></span></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container mt-5 mb-5">
    <div class="content">
        <h1 class="text-danger">Política de Privacidade</h1>
        <p class="text-light">Bem-vindo ao Instituto de Teologia Online. A sua privacidade é muito importante para nós. Este documento descreve as políticas de privacidade relacionadas ao uso do nosso site e à coleta de informações.</p>
        
        <h2 class="text-danger">1. Informações Coletadas</h2>
        <p class="text-light">Coletamos informações pessoais quando você se registra em nosso site, faz uma compra ou entra em contato conosco. Essas informações podem incluir nome, e-mail, endereço, informações de pagamento, entre outras.</p>
        
        <h2 class="text-danger">2. Uso das Informações</h2>
        <p class="text-light">As informações coletadas são usadas para:</p>
        <ul>
            <li class="text-secondary">Fornecer acesso aos nossos cursos online e materiais educacionais;</li>
            <li class="text-secondary">Processar pagamentos e gerenciar transações;</li>
            <li class="text-secondary">Comunicarmos atualizações, ofertas e novidades relacionadas aos nossos cursos;</li>
            <li class="text-secondary">Melhorar a experiência de navegação em nosso site.</li>
        </ul>

        <h2 class="text-danger">3. Proteção das Informações</h2>
        <p class="text-light">Implementamos medidas de segurança para proteger suas informações pessoais. No entanto, nenhum método de transmissão pela internet ou armazenamento eletrônico é 100% seguro. Apesar de nossos esforços, não podemos garantir total segurança.</p>

        <h2 class="text-danger">4. Compartilhamento de Informações</h2>
        <p class="text-light">Não vendemos, trocamos ou alugamos suas informações pessoais para terceiros. Podemos compartilhar informações com nossos parceiros de serviço terceirizados para ajudar na operação de nosso site, mas esses terceiros estão proibidos de usar suas informações para outros fins.</p>

        <h2 class="text-danger">5. Cookies</h2>
        <p class="text-light">Utilizamos cookies para melhorar a experiência do usuário em nosso site. Você pode desativar os cookies nas configurações do seu navegador, mas isso pode afetar a funcionalidade de algumas áreas do site.</p>

        <h2 class="text-danger">6. Alterações na Política de Privacidade</h2>
        <p class="text-light">Podemos atualizar nossa política de privacidade de tempos em tempos. Recomendamos que você revise esta página periodicamente para estar ciente de qualquer mudança. Ao continuar a utilizar nosso site, você concorda com as alterações na política de privacidade.</p>

        <h2 class="text-danger">7. Contato</h2>
        <p class="text-light mb-5">Se você tiver dúvidas sobre nossa política de privacidade, entre em contato conosco através do e-mail: <a href="mailto:contato@institutoteologia.com">contato@insittotheos.com</a></p>
    </div>
</div>