.bg-success-dark{
  background-color: rgba(128, 0, 0, 0.241);
}

.rounded-table .ant-table-container {
  border-radius: 12px !important;
  overflow: hidden !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.rounded-table.ant-table-bordered .ant-table-container {
  border: 1px solid #f0f0f0 !important;
}

body {
  //background-color: rgb(27, 27, 27);
  background-color: rgb(33 37 41) !important;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

//text
.text-justify {
  text-align: justify;
}

.cursor-pointer {
  cursor: pointer;
}

:root {
  --brand-color: #fe4141;
  --dark-color: #1e1b26;
  --accent-color: #e7e7e7;
  --text-light: #b4b4b4;
  --text-lighter: #d7d7d7;
  --section-space: 16px;
  --card-padding: 24px;
  --poster-overlay: rgba(30, 27, 38, 0.8);
}
