
<section id="header">
  <div class="header">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12 d-flex justify-content-end justify-content-xl-center align-items-center">
            <img [src]="urlImgHeader" alt="imgHeader.png" title="Theos" [height]="imgHeaderSize">
          </div>
          <div class="col-6 col-md-12 d-flex justify-content-center align-items-center">
            <p class="text-light text-justify p-5 h3" *ngIf="isVisible">
              <!-- O Instituto de Teologia Theos é uma instituição de ensino
              teológico criada por pastores metodistas do distrito de Ituverava.
              Com o compromisso de proporcionar uma formação teológica sólida e
              prática, o Instituto Theos busca preparar líderes espirituais que
              possam servir com excelência e dedicação em suas comunidades e
              igrejas. -->
              Conhecimento Bíblico para uma Vida de Propósito.
            </p>
            <!-- <p class="text-center view-sm text-light">
              Conhecimento Bíblico para uma Vida de Propósito.
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">slide dos cursos</div>
    </div>
  </div>
</section>

<section id="hero">
  <div class="hero"></div>
</section>

<section id="hero">
  <div class="hero"></div>
</section>

<section id="hero">
  <div class="hero"></div>
</section>

<section id="hero">
  <div class="hero"></div>
</section>

<section id="hero">
  <div class="hero"></div>
</section>
