.header {
  padding: 2vh 5vw;
  background-image: url("/images/assets/wall-book2.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  height: auto;
  min-height: 100px;
}
