<header id="header" class="ex-header" style="padding-top: 50px; padding-bottom: 0px;">
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-md-12 img-header-about p-0">
                <img [src]="urlImgHeader" alt="">
            </div>
        </div> 
    </div>
</header>

<div class="bg-black pt-1 text-light">
    <div class="container bg-dark-curso">
        <div class="row p-xl-5 p-3">
            <div class="col-12 col-sm-6">
                <nz-steps [nzCurrent]="current">
                    <nz-step nzTitle="Cadastro"></nz-step>
                    <nz-step nzTitle="Pagamento"></nz-step>
                    <nz-step nzTitle="Confirmação"></nz-step>
                </nz-steps>
                 <div class="steps-content" >
                    <div *ngIf="current === 0" >
                        <div class="card bg-dark mt-3 card-plan">
                            <div class="card-body">
                                <app-form-register></app-form-register>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="current === 1" >
                        <div class="card bg-dark mt-3 card-plan">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div *ngIf="current === 2" >
                        <div class="card bg-dark mt-3 card-plan">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 bg-dark rounded p-3 d-flex justify-content-end gap-3">
                        <button class="btn btn-sm btn-outline-danger" *ngIf="current > 0" (click)="pre()">Anterior</button>
                        <button class="btn btn-sm btn-outline-danger" *ngIf="current < 2" (click)="next()">Próximo</button>
                        <button class="btn btn-sm btn-outline-success" *ngIf="current  > 1" (click)="done()">Finalizar</button>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>