.img-header-about {
  overflow: hidden;        
  position: relative;        
}

.img-header-about img {
  width: 100%;              
  position: relative;
  left: 50%;               
  transform: translateX(-50%); 
  object-fit: cover;       
}

@media (max-width: 768px) {
  .img-header-about img {
  width: 150%;              
  position: relative;
  left: 50%;               
  transform: translateX(-50%); 
  object-fit: cover;     
  }
}

::ng-deep .ant-steps-item-title{
  color: #b1b1b1 !important;
}

.card-plan {
  min-height: 37rem;
}

/* Tablets em pé (portrait): largura entre 600px e 900px */
@media (min-width: 600px) and (max-width: 900px) and (orientation: portrait) {
  .card-plan {
    min-height: 47rem; 
  }
}

/* Celulares em pé (portrait): largura até 599px */
@media (max-width: 599px) and (orientation: portrait) {
  .card-plan {
    min-height: 48rem;
  }
}
