.form {
  padding-left: 30%;
  padding-right: 30%;
  text-align: start;
}

/* Celular normal (até 360px) */
@media (max-width: 360px) {
    .form {
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* Celular deitado (361px até 480px) */
@media (min-width: 361px) and (max-width: 480px) {
    .form {
        padding-left: 10%;
        padding-right: 10%;
    }
 
}

/* Celular grande (481px até 600px) */
@media (min-width: 481px) and (max-width: 600px) {
    .form {
        padding-left: 10%;
        padding-right: 10%;
    }
 
}

/* Tablet em pé (601px até 768px) */
@media (min-width: 601px) and (max-width: 768px) {
.form {
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* Tablet deitado (769px até 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
.form {
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* Notebook (1025px até 1366px) */
@media (min-width: 1025px) and (max-width: 1366px) {

}

/* Desktop normal (1367px até 1920px) */
@media (min-width: 1367px) and (max-width: 1920px) {

}

/* Desktop grande (1921px ou mais) */
@media (min-width: 1921px) {
 
}
