<div
*ngIf="loading"
class="d-flex justify-content-center align-items-center"
style="height: 100vh"
>
<div class="row">
    <div class="col-12 d-flex justify-content-center">
    <img
        src="https://i.imgur.com/ISvbhQp.png"
        alt="Loading..."
        class="img-fluid animate-grow"
        style="width: 50px; height: 50px; "
    />
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
    <span class="text-danger"><strong>Carregando...</strong></span>
    </div>
</div>
</div>

<div
  class="container-fluid p-0 mt-5 text-light"
  style="
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  "
>
  <div class="row w-75" *ngIf="profile.length > 0">
    <div class="col-12">
      <div class="card bg-dark text-light">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <span class="h6 text-danger">Nome:&nbsp;&nbsp;</span
              ><span class="h6">{{ profile[0].Nome }}</span>
            </div>
            <div class="col-3">
              <span class="h6 text-danger">Plano:&nbsp;&nbsp;</span
              ><span class="h6">{{ profile[0].Plano }}</span>
            </div>
            <div
              class="col-3"
              *ngIf="
                profile[0].Plano === 'Mensal' ||
                profile[0].Plano === 'Individual'
              "
            >
              <span class="h6 text-danger">Cadastro:&nbsp;&nbsp;</span>
              <span class="h6">
                {{ profile[0].ConfirmacaoCadastro }}&nbsp;&nbsp;
                <i
                  class="fa-solid"
                  [ngClass]="{
                    'fa-circle-check text-success':
                      profile[0].ConfirmacaoCadastro === 'Ativo',
                    'fa-circle-xmark text-danger':
                      profile[0].ConfirmacaoCadastro === 'Pendente'
                  }"
                ></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-dados-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-dados"
            type="button"
            role="tab"
            aria-controls="pills-dados"
            aria-selected="false"
          >
            Informações Pessoais
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-hist-pagamento-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-hist-pagamento"
            type="button"
            role="tab"
            aria-controls="pills-hist-pagamento"
            aria-selected="false"
          >
            Histórico Pagamentos
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-dados"
          role="tabpanel"
          aria-labelledby="pills-dados-tab"
        >
          <form [formGroup]="profileForm" nz-form>
            <div class="row">
              <div class="col-12 col-xl-4">
                <label class="text-light" nzFor="nomeCompleto"
                  >Nome Completo</label
                >
                <nz-form-item>
                  <nz-form-control>
                    <input
                      nz-input
                      formControlName="nomeCompleto"
                      type="text"
                      id="nomeCompleto"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-8 col-xl-4">
                <label class="text-light" nzFor="enderecoRua">Rua</label>
                <nz-form-item>
                  <nz-form-control>
                    <input
                      nz-input
                      formControlName="enderecoRua"
                      type="text"
                      id="enderecoRua"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-6 col-xl-1">
                <label class="text-light" nzFor="enderecoNumero">Nº</label>
                <nz-form-item>
                  <nz-form-control>
                    <input
                      nz-input
                      formControlName="enderecoNumero"
                      type="text"
                      id="enderecoNumero"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-6 col-xl-3">
                <label class="text-light" nzFor="enderecoBairro">Bairro</label>
                <nz-form-item>
                  <nz-form-control>
                    <input
                      nz-input
                      formControlName="enderecoBairro"
                      type="text"
                      id="enderecoBairro"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-6 col-xl-2">
                <label class="text-light" nzFor="enderecoEstado">Estado</label>
                <nz-form-item>
                  <nz-form-control>
                    <nz-select
                      nzShowSearch
                      nzAllowClear
                      nzPlaceHolder="Selecione"
                      formControlName="enderecoEstado"
                      [ngModel]="selectedEstado"
                      (ngModelChange)="selectEstado($event)"
                    >
                      <nz-option
                        *ngFor="let item of listEstados"
                        [nzLabel]="item.nome"
                        [nzValue]="item.sigla"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-6 col-xl-4">
                <label class="text-light" nzFor="enderecoCidade">Cidade</label>
                <nz-form-item>
                  <nz-form-control>
                    <nz-select
                    [nzDisabled]="!selectedEstado"
                    (nzOpenChange)="onDropdownOpen($event)"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Selecione"
                    formControlName="enderecoCidade"
                    [nzNotFoundContent]="loadingInput ? loadingTemplate : 'Não há dados'"
                  >
                    <nz-option
                      *ngFor="let item of listCidades"
                      [nzLabel]="item.nome"
                      [nzValue]="item.codigo_ibge"
                    ></nz-option>
                  </nz-select>
                  
                  <ng-template #loadingTemplate>
                    <div class="text-center p-2">
                      <nz-spin size="small"></nz-spin>
                    </div>
                  </ng-template>
              
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-6 col-xl-2">
                <label class="text-light" nzFor="contato">Telefone</label>
                <nz-form-item>
                  <nz-form-control>
                    <input nz-input formControlName="contato" type="text" id="contato" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-6 col-xl-4">
                <label class="text-light" nzFor="email">E-mail</label>
                <nz-form-item>
                  <nz-form-control>
                    <input nz-input formControlName="email" type="email" id="email" />
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-outline-danger" (click)="saveProfile()"><i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Salvar</button>
              </div>
            </div>
          </form>
        </div>

        <div
          class="tab-pane fade"
          id="pills-hist-pagamento"
          role="tabpanel"
          aria-labelledby="pills-hist-pagamento-tab"
        >
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item bg-black text-danger"
              *ngFor="let item of profile[0].Pagamentos"
            >
              <div class="row text-center">
                <div class="col-3">
                  Data: <span class="text-light">{{ item.DataPagamento }}</span>
                </div>
                <div class="col-5">
                  Descricao:
                  <span class="text-light">{{ item.Descricao }}</span>
                </div>
                <div class="col-2">
                  Valor:
                  <span class="text-light">{{
                    formatarParaBRL(item.Valor)
                  }}</span>
                </div>
                <div class="col-2">
                  <span class="text-light">{{ item.StatusPagamento }}</span>
                  &nbsp;&nbsp;
                  <i
                    class="fa-solid"
                    [ngClass]="{
                      'fa-circle-check text-success':
                        item.StatusPagamento === 'Pago',
                      'fa-circle-xmark text-danger':
                        item.StatusPagamento === 'Pendente'
                    }"
                  >
                  </i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
