<div class="row hero">
    <div class="col-12">
        <div class="row p-2">
            <div class="col-6 col-md-3 d-flex justify-content-center">
                <button class="btn btn-outline-danger w-100"  
                    [routerLink]="['/auth/login']"
                    [queryParams]="{ user: 'teacher' }"
                    routerLinkActive="router-link-active"
                >
                    <span class="h3">AVP</span><br>
                    <span class="small">Área Virtual do Professor</span>
                </button>
            </div>
            <div class="col-6 col-md-3  d-flex justify-content-center">
                <button class="btn btn-outline-danger w-100" 
                    [routerLink]="['/auth/login']"
                    [queryParams]="{ user: 'student' }">
                    <span class="h3">AVA</span><br>
                    <span class="small">Área Virtual do Aluno</span>
                </button>
            </div>
        </div>
    </div>
</div>