<div *ngIf="isAuthenticated()">
  <!-- <div
    *ngIf="loading"
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        <img
            src="https://i.imgur.com/ISvbhQp.png"
            alt="Loading..."
            class="img-fluid animate-grow"
            style="width: 50px; height: 50px; "
        />
        </div>
        <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-danger"><strong>Carregando...</strong></span>
        </div>
    </div>
</div> -->

<nz-layout class="layout">
  <nz-header >
    <div class="row hidden-sm text-light text-center">
      <div class="col-4 col-md-4 col-sm-4 col-xl-8">
        <a routerLink="/ava/avp-home">
        <img src="{{urlIcoTheos}}" class="logo" alt="">
        </a>
      </div>
      <div class="col-4 col-md-4 col-xl-2 d-flex align-items-center justify-content-end">
        
      </div>
      <div class="col-4 col-md-4 col-xl-2 d-flex align-items-center justify-content-end">
        <button class="btn btn-none text-light" (click)="openMenu()"><i class="fa-solid fa-user text-danger fa-xl"></i>&nbsp;&nbsp;{{userLogado}}</button>
      </div>
    </div>

    <div class="row view-sm">
      <div class="col-6">
        <img src="{{urlIcoTheos}}" width="40" alt="" routerLink="/ava/ava-home">
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <button class="btn btn-none" (click)="openMenu()"><i class="fa-solid fa-bars text-danger fa-2x"></i></button>
      </div>
    </div>

  </nz-header>
  <nz-content class="mt-1 p-1">
    <div class="inner-content p-0">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer class="text-light">Desenvolvido por Bit System</nz-footer>
</nz-layout>
<nz-drawer
  [nzCloseIcon]="btnCloseMenu"
  [nzClosable]="true"
  [nzVisible]="visible"
  nzPlacement="right"
  nzTitle="Menu"
  [nzWidth]="'300px'"  
  [nzBodyStyle]="{ 'background-color': '#0c0d0f', 'color': '#fff', 'overflow': 'hidden' }" 
  (nzOnClose)="closeMenu()"
>
  <ng-container *nzDrawerContent>
    <div class="row">
      <div class="col-6">
        Professor:
      </div>
      <div class="col-6 d-flex justify-content-end mr-5"><span text-uppercase>{{userLogado}}</span></div>
      <div class="col-12">
        <hr class="mt-3">
      </div>
      <div class="col-12 d-flex justify-content-end mr-5 mt-1">
        <button class="btn btn-sm btn-outline-light w-100" routerLink="./avp-home" (click)="closeMenu()">
          <div class="row">
            <div class="col-12">
              <i class="fa-solid fa-home"></i>&nbsp;&nbsp;&nbsp;Inicio
            </div>
          </div>
        </button>
      </div>
      <div class="col-12 d-flex justify-content-end mr-5 mt-1">
        <button class="btn btn-sm btn-outline-light w-100" routerLink="./avp-profile"  (click)="closeMenu()">
          <div class="row">
            <div class="col-12">
              <i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;Minha Conta
            </div>
          </div>
        </button>
      </div>
      <div class="col-12 d-flex justify-content-end mr-5 mt-1">
        <button class="btn btn-sm btn-outline-light w-100" routerLink="./avp-meusCursos"  (click)="closeMenu()">
          <div class="row">
            <div class="col-12">
              <i class="fa-solid fa-scroll-torah"></i>&nbsp;&nbsp;&nbsp;Meus Cursos
            </div>
          </div>
        </button>
      </div>
      <div class="col-12 d-flex justify-content-end mr-5 mt-1">
        <button class="btn btn-sm btn-outline-light w-100" routerLink="./ava-suport"  (click)="closeMenu()">
          <div class="row">
            <div class="col-12">
              <i class="fa-solid fa-headphones"></i>&nbsp;&nbsp;&nbsp;Suporte
            </div>
          </div>
        </button>
      </div>
      <div class="col-12">
        <hr class="mt-3">
      </div>
      <div class="col-12 d-flex justify-content-end mr-5 mt-1">
        <button class="btn btn-sm btn-outline-light w-100" (click)="logout()">
          <div class="row">
            <div class="col-12">
              <i class="fa-solid fa-door-open" ></i>&nbsp;&nbsp;&nbsp;Sair
            </div>
          </div>
        </button>
      </div>
    </div>
  </ng-container>
</nz-drawer>

<ng-template #btnCloseMenu>
  <span class="text-danger"><i class="fa-solid fa-square-xmark"></i></span>
</ng-template>

</div>