.img-header-about {
  overflow: hidden;
  position: relative;
}

.img-header-about img {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}

@media (max-width: 768px) {
  .img-header-about img {
    width: 150%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
}
