
<header id="header" class="ex-header">
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-md-12 img-header-about p-0">
                <img [src]="urlImgHeader" alt="">
            </div>
        </div> 
    </div>
</header>

<div class="bg-black pt-3 text-light">
    <div class="container bg-dark-curso">
        <div class="row p-xl-5">
            <div class="col-12 m-3 mb-5 text-center h2">
                Nossa missão é a propagação do <b class="text-danger">EVANGELHO</b>
            </div>
            <div class="col-sm-6">
                <img [src]="urlAbout" class="w-100 rounded shadow-lg" alt="">
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center">
                <p class="text-justify m-1 h4"> 
                    O <b class="text-danger">Instituto de Teologia Theos (ITT)</b> é um espaço dedicado à formação teológica profunda, mas também acessível, onde buscamos não apenas o conhecimento acadêmico (Ortodoxia), mas também a transformação pessoal e espiritual (Ortopraxia). 
                </p>
            </div>
            <div class="col-12">
                <p class="text-justify m-1 mt-3 text-secondary">
                    Estamos comprometidos com o desenvolvimento e edificação de líderes e leigos cristãos que possam impactar suas igrejas e o mundo com amor, esperança e fé.
                    No Theos (ITT), valorizamos o diálogo entre a fé e a razão (1 Pe 3:15), promovendo uma educação teológica que integra a tradição cristã (Reformada e Pentecostal) com as demandas da atualidade. Aqui, cada aula é uma oportunidade de crescimento, não apenas intelectual, mas também espiritual, enquanto exploramos as riquezas da teologia, sociologia, filosofia e outras disciplinas que fortalecem nossa vocação.
                    Nosso compromisso é formar indivíduos preparados para enfrentar os desafios do ministério e da vida com uma base sólida em Cristo, capacitando-os a servir com excelência e humildade, sempre guiados pela Palavra de Deus e pelo Deus da palavra.
                </p>
            </div>
        </div>
    </div>
</div>

<app-landing-footer></app-landing-footer>
