<!-- <div
    *ngIf="loading"
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        <img
            src="https://i.imgur.com/ISvbhQp.png"
            alt="Loading..."
            class="img-fluid animate-grow"
            style="width: 50px; height: 50px; "
        />
        </div>
        <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-danger"><strong>Carregando...</strong></span>
        </div>
    </div>
</div> -->

  <div *ngIf="!loading" class="container-nav bg-wall" id="landing-page">
    <a href="#landing-page" class="back-to-top page-scroll">Voltar para o Ínicio</a>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black-tr">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../../../assets/img/logo/logo-ico.png" width="50" alt=""></a>
        <button 
          class="navbar-toggler" 
          type="button" 
          (click)="toggleMenu()" 
          aria-controls="navbarNavDropdown" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home"><span class="h6"><strong>HOME</strong></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/professores"><span class="h6"><strong>PROFESSORES</strong></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/cursos"><span class="h6"><strong>CURSOS</strong></span></a>
            </li>
            <hr class="text-light">
            <li class="nav-item">
              <button class="nav-link btn btn-sm btn-danger text-light" routerLink="/login"><span class=""><strong>ENTRAR</strong></span></button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <header id="header" class="mt-5 pb-0 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                  <div class="prof-header">
                    <span class="prof-text">Nosso Objetivo é
                      <div class="text-danger">Inspirar</div>
                    </span>
                    <img class="prof-image" src="../../../../assets/img/professores/header.gif" alt="">
                  </div>
                </div>
            </div> 
        </div>
    </header> -->

    <div class="bg-black pt-3 mt-5">
      <div class="container bg-dark-curso">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mt-2 t-sm" *ngFor="let item of professores">
              <div class="card bg-black rounded border border-danger shadow h-100">
                <div class="card-body ps-0 pt-0 pb-0">
                  <div class="row h-100">
                    <div class="col-5">
                      <img src="{{item.LinkImagem}}" alt="" class="img-fluid img-fade">
                    </div>
                    <div class="col-7" >
                      <div class="row h-100 d-flex align-content-between">
                        <div class="col-12">
                          <span class="text-danger h4">{{item.Nome}}</span><br>
                          <span class="text-light h6">"{{item.Idade}}, {{item.Cidade}}</span><br>
                          <span class="text-light text-decoration-underline">{{item.Formacao}}</span>
                        </div>
                        <div class="col-12">
                          <p class="text-light text-justify">
                            {{item.Bio}}
                          </p>
                        </div>
                        <div class="col-12 m">
                          <div class="row text-center text-danger">
                            <div class="col-6">
                              <i class="fa-solid fa-book-bible fa-xl"></i>&nbsp;
                              <span>{{item.Cursos}} cursos</span>
                            </div>
                            <div class="col-6">
                              <i class="fa-brands fa-youtube fa-xl"></i>&nbsp;
                              <span>{{item.Aulas}} Aulas</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end mt-2 mb-2 pt-3 border-top border-danger gap-2">                          
                          <a href="{{item.LinkInstagram}}"><i class="fa-brands fa-instagram fa-xl text-danger"></i></a>
                          <a href="{{item.LinkLinkedin}}"><i class="fa-brands fa-linkedin fa-xl text-primary"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    
    <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <p class="p-small">Desenvolvido por <a href="" target="_blank">Bit System</a></p>
              </div>
          </div>
      </div>
  </div>
  </div>