<div
    *ngIf="loading"
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="row">
      <div class="col-12">
        <img
          src="../../../../assets/img//logo/logo-ico.png"
          alt="Loading..."
          class="img-fluid animate-grow"
          style="width: 50px; height: 50px; margin-left: 10px"
        />
      </div>
      <div class="col-12 mt-5">
        <span class="text-danger"><strong>Carregando...</strong></span>
      </div>
    </div>
  </div>
  
  <div class="row m-5 p-5 ">
    <div class="col-3">
      <div class="card bg-dark">
        <div class="card-title">Painel Administrativo</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <span class="text-light">Imagens</span>
                </div>
                <div class="col-12">
                  <input id="file" type="file" (change)="onFileSelected($event)" />
                </div>
                <div class="col-12 mt-1">
                  <label for="folderSelect" class="text-light">Escolha a Página:</label>
                  <select id="folderSelect" class="form-control" [(ngModel)]="folderName">
                    <option *ngFor="let folder of folders" [value]="folder">{{ folder }}</option>
                  </select>
                </div>
                <div class="col-12 mt-1">
                  <label for="folderSelect" class="text-light">Escolha a Imagem:</label>
                  <select id="folderSelect" class="form-control" [(ngModel)]="folderName">
                    <option *ngFor="let folder of images" [value]="folder">{{ folder }}</option>
                  </select>
                </div>
                <div class="col-12 mt-3">
                  <button class="btn btn-primary w-100" (click)="uploadImage()">Upload</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 bg-dark">
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview da imagem" style="max-width: 100%; height: auto;" />
    </div>
    <div class="col-6">
      <textarea class="w-100 h-100" name="" id="" rows="5" [value]="urlAtual"></textarea>
    </div>
  </div>
  