<header id="header" class="ex-header" style="padding-top: 50px; padding-bottom: 0px;">
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-md-12 img-header-about p-0">
                <img [src]="urlImgHeader" alt="">
            </div>
        </div> 
    </div>
</header>

<div class="bg-black pt-3 text-light">
    <div class="container bg-dark-curso">
        <div class="row p-xl-5 p-3">
            <div class="col-12 col-sm-6 mt-4">
                <div class="card bg-dark">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center text-danger">
                                <span class="h3">Assinatura Mensal</span>
                                <span class="h5 text-light position-absolute bg-success rounded p-2" style="top: -25px; right: -15px;">MUITO MAIS VANTAGEM!</span>
                            </div>
                            <div class="col-12 mt-3">
                                <ul class="list-group">
                                    <li class="list-group-item bg-dark text-secondary text-uppercase text-center" *ngFor="let item of signaturePlanItems">
                                        <i [ngClass]="item.icon" class="text-danger"></i>&nbsp;
                                        <b><span>{{item.value}}</span></b>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 mt-2">
                                <button class="btn btn-sm btn-success w-100" [routerLink]="['/landing/buy-subscription']" routerLinkActive="router-link-active" >ASSINAR AGORA POR R$ <span class="text-warning h2">29,90</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-4">
                <div class="card bg-dark h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center text-danger">
                                <span class="h3">Cursos Individuais</span>
                            </div>
                            <div class="col-12 mt-2">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    
                                    <div class="carousel-indicators">
                                        <button *ngFor="let item of cursos; let i = index"
                                                type="button"
                                                [attr.data-bs-target]="'#carouselExampleIndicators'"
                                                [attr.data-bs-slide-to]="i"
                                                [class.active]="i === 0"
                                                [attr.aria-current]="i === 0 ? 'true' : null"
                                                [attr.aria-label]="'Slide ' + (i + 1)">
                                        </button>
                                    </div>

                                    <div class="carousel-inner">
                                  <div class="carousel-item"
                                        *ngFor="let item of cursos; let index = index"
                                        [class.active]="index === 0"
                                        style="text-align: center; position: relative;">

                                    <img [src]="item.urlImg" height="400" alt="..."
                                        style="display: inline-block; max-width: 100%;">
                                    </div>

                                    </div>

                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <button class="btn btn-sm btn-success w-100">VER MAIS CURSOS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>