@import "../../../../../themes/variables.base.scss";

.card-horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .card-img-left {
    width: 35%;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }

  .card-body {
    flex: 1;

    .title {
      color: $accent-light;
      font-size: medium;
      text-transform: uppercase;

      :host-context(.screen-x-small) & {
        font-size: smaller;
      }
      :host-context(.screen-small) & {
        font-size: small;
      }
      :host-context(.screen-medium) & {
        font-size: medium;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      color: gray;

      :host-context(.screen-x-small) & {
        font-size: xx-small;
      }
      :host-context(.screen-small) & {
        font-size: x-small;
      }
      :host-context(.screen-medium) & {
        font-size: small;
      }
    }

    .description-small{
      color: gray;

      :host-context(.screen-x-small) & {
        font-size: xx-small;
      }
      :host-context(.screen-small) & {
        font-size: x-small;
      }
      :host-context(.screen-medium) & {
        font-size: small;
      }
    
    }
  }
}

/* Container que recebeu a classe .overflow-x-auto */
.row.overflow-x-auto {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #dc3545 #1a1a1a; /* Firefox: Cor do scroll e do fundo */
}

/* Chrome, Edge e Safari */
.row.overflow-x-auto::-webkit-scrollbar {
  height: 12px; /* Altura da barra horizontal */
}

.row.overflow-x-auto::-webkit-scrollbar-track {
  background: #1a1a1a; /* Cor do fundo da trilha */
  border-radius: 10px;
}

.row.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #dc3545; /* Cor do "ponteiro" (usando o vermelho danger do Bootstrap) */
  border-radius: 10px;
}

.row.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #a71d2a; /* Cor ao passar o mouse */
}

::ng-deep .ant-rate {
  font-size: 20px !important;

  :host-context(.screen-x-small) & {
    font-size: 12px !important;
  }
  :host-context(.screen-small) & {
    font-size: 15px !important;
  }
  :host-context(.screen-medium) & {
    font-size: 17px !important;
  }
}