@import "../../../.././../../themes/theme.scss";
:host {
  width: 100%;
  height: 100%;
}

////HOME
.header-home {
  padding: 5vh 10vw;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://img.freepik.com/vetores-gratis/fundo-preto-com-malha-de-baixo-poli-vermelho-brilhante_1017-20215.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: 100% auto;
  background-position: center;
  text-align: left;
  color: #fff;

  :host-context(.screen-x-small) & {
    padding: 5vh 10vw;
    background-size: 50% auto;
    text-align: center;
  }

  .title {
    font-size: 35px;
    font-weight: 500;
    color: #b40c0c;
    :host-context(.screen-x-small) & {
      font-size: 18px;
    }
  }

  .description {
    text-align: justify;
  }

  img {
    width: 100%;
    border-radius: 12px;
  }

  .students-value {
    color: #b40c0c;
    font-size: 20px;
    font-weight: 700;
  }
}

