<ng-container *ngIf="lesson; else loadingTpl">

  <div class="header">
      <span class="header-title cursor-pointer" [routerLink]="['/avat/course-detail']" [queryParams]="{ course: lesson.CourseId}">
      {{ lesson.CourseName }} - {{ lesson.ModuleName }}
    </span>

    <span class="header-description">
      {{ lesson.LessonDescriptionLarge }}
    </span>
    <hr>
  </div>

  <div class="course-learn">
    <div class="row m-0">

      <!-- VIDEO -->
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 video">

            <div
              *ngIf="loading"
              class="loadingVideo position-absolute d-flex flex-column justify-content-center align-items-center text-danger"
              style="left: 40%; bottom: 40%;"
            >
              <div class="spinner-grow text-danger" role="status"></div>
              Carregando Aula
            </div>

            <div style="position: relative; padding-top: 56.25%; height: 100%;">
              <iframe
                [src]="videoUrl"
                loading="lazy"
                style="
                  border: 0;
                  position: absolute;
                  top: 0;
                  height: 100%;
                  width: 100%;
                "
                allow="
                  accelerometer;
                  gyroscope;
                  autoplay;
                  encrypted-media;
                  picture-in-picture;
                "
                allowfullscreen
              ></iframe>
            </div>

          </div>

          <div class="col-12 forum">
            <br><br><br><br><br><br><br><br>
          </div>
        </div>
      </div>

      <!-- PLAYLIST -->
      <div class="col-12 col-md-3 playlist">
        <span class="mb-2 h3 text-danger">Playlist</span>

        <div class="list-group mt-3">
          <button
            (click)="onSelectLesson(video)"
            type="button"
            class="btn btn-dark text-start d-flex flex-column mb-2"
            *ngFor="let video of lesson.Playlist"
            [ngClass]="{
              'border-danger bg-success-dark': video.Active,
              'border-secondary': !video.Active
            }"
          >
            <span class="text-danger">{{ video.LessonName }}</span>
            <span>{{ video.LessonDescription }}</span>
            <span class="text-secondary">
              {{ video.LessonDurationSeconds }} Min.
            </span>
          </button>
        </div>
      </div>

    </div>
  </div>
</ng-container>

<ng-template #loadingTpl>
  <div class="d-flex justify-content-center align-items-center text-danger" style="height: 60vh;">
    <div class="spinner-grow text-danger"></div>
    <span class="ms-2">Carregando aula...</span>
  </div>
</ng-template>
