<!-- LOADING -->
<ng-container *ngIf="loading; else contentTemplate">
  <div class="row" style="height: 70vh">
    <div
      class="col-12 d-flex flex-column justify-content-center align-items-center text-danger"
    >
      <div class="spinner-border" role="status"></div>
      <span class="h6 mt-2">Carregando</span>
    </div>
  </div>
</ng-container>

<!-- CONTENT -->
<ng-template #contentTemplate>
  <!-- ERRO -->
  <ng-container *ngIf="!pixPayment; else pixTemplate">
    <div class="text-danger h2 text-center">
      <span>
        Erro ao gerar pagamento.<br />
        Tente novamente ou solicite suporte!
      </span>
    </div>
  </ng-container>
</ng-template>

<!-- SUCESSO -->
<ng-template #pixTemplate>
  <div class="col-12 text-center text-light">
    <span class="h2">Pagamento</span>
  </div>
  <div class="col-12 text-danger text-center text-uppercase mt-3">
    <span class="h4">{{ course.Title }}</span>
  </div>
  <div class="col-12 text-warning text-center text-uppercase mt-3">
    <span class="h4">{{ formatBrl(course.Price) }}</span>
  </div>
  <div class="col-12 text-center mt-3">
    <img
      [src]="'data:image/png;base64,' + pixPayment.pix.encodedImage"
      alt="qr_code"
      class="img-fluid"
    />

    <div class="input-group mt-3">
      <input
        type="text"
        class="form-control"
        [value]="pixPayment.pix.payload"
        readonly
      />

      <button
        class="btn btn-outline-danger"
        type="button"
        (click)="copyPixCode()"
      >
        Copiar
      </button>
    </div>
  </div>
</ng-template>
