<form [formGroup]="formModule">
  <div class="row">

    <div class="col-8">

      <div class="row">

        <div class="col-6 mb-3">
          <label for="titleModule" class="form-label text-secondary">
            <b>Título do Módulo</b>
          </label>
          <input type="text" class="form-control" id="titleModule" formControlName="Name" [ngClass]="{ 'is-invalid': formModule.get('Name')?.invalid && formModule.get('Name')?.touched }">
          <small class="text-secondary" [ngClass]="{ 'text-danger': formModule.get('Name')?.hasError('maxlength') }">
            {{ formModule.get('Name')?.value?.length || 0 }} / 50 caracteres </small>
          <div *ngIf="formModule.get('Name')?.invalid && formModule.get('Name')?.touched" class="invalid-feedback">
            <div *ngIf="formModule.get('Name')?.hasError('required')">O título é obrigatório.</div>
            <div *ngIf="formModule.get('Name')?.hasError('maxlength')">O título excedeu o limite de 50 caracteres.</div>
          </div>
        </div>
      
        <div class="col-6 mb-3">
          <label for="teacherModule" class="form-label text-secondary">
            <b>Professor do Módulo</b>
          </label>
          <select class="form-select" id="teacherModule" formControlName="PeopleTeacherId" [ngClass]="{ 'is-invalid': formModule.get('PeopleTeacherId')?.invalid && formModule.get('PeopleTeacherId')?.touched }">
            <option [ngValue]="null" disabled>Selecione...</option>
            <option *ngFor="let item of listTeachers" [value]="item.UserId">{{item.Name}}</option>
          </select>
          <div *ngIf="formModule.get('PeopleTeacherId')?.invalid && formModule.get('PeopleTeacherId')?.touched" class="invalid-feedback">
            <div *ngIf="formModule.get('PeopleTeacherId')?.hasError('required')">Selecione um professor.</div>
          </div>
        </div>

        <div class="col-12 mb-3">
          <label for="descriptionModule" class="form-label text-secondary">
            <b>Descrição do Módulo</b>
          </label>
          <input type="text" class="form-control" id="descriptionModule" formControlName="Description" [ngClass]="{ 'is-invalid': formModule.get('Description')?.invalid && formModule.get('Description')?.touched }">
          <small class="text-secondary" [ngClass]="{ 'text-danger': formModule.get('Description')?.hasError('maxlength') }">
            {{ formModule.get('Description')?.value?.length || 0 }} / 100 caracteres </small>
          <div *ngIf="formModule.get('Description')?.invalid && formModule.get('Description')?.touched" class="invalid-feedback">
            <div *ngIf="formModule.get('Description')?.hasError('required')">A descrição é obrigatória.</div>
            <div *ngIf="formModule.get('Description')?.hasError('maxlength')">A descrição excedeu o limite de 100 caracteres.</div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-4">
      <label class="form-label text-secondary">
        <b>Imagem do Módulo</b>
      </label>

      <div class="drop-zone"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)"
          (click)="fileInput.click()"
          [class.drag-over]="isDragging">

        <input #fileInput
              type="file"
              (change)="onFileSelected($event)"
              accept="image/png, image/jpeg, image/gif"
              hidden>

        <div *ngIf="!imgModule; else imagePreview" class="text-center p-3">
          <p class="mb-1">
            <i class="bi bi-cloud-arrow-up-fill fs-2 text-secondary"></i>
          </p>
          <p class="mb-0 text-secondary">Arraste a imagem ou clique aqui</p>
          <small class="text-secondary">JPG, PNG, GIF | Max: 1080x720 (16:9)</small>
        </div>

        <ng-template #imagePreview>
          <img [src]="imgModule" class="img-preview" alt="Pré-visualização do Módulo">
        </ng-template>
      </div>

      <div *ngIf="imageError" class="text-danger mt-1">
        <small>{{ imageError }}</small>
      </div>
    </div>

    <div class="col-12 pb-3 d-flex justify-content-end border-bottom border-secondary mb-4">
      <button class="btn btn-sm btn-danger d-flex justify-content-between align-items-center gap-2" (click)="addModule()">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        <span>Adicionar Módulo</span>
      </button>
    </div>
  </div>
</form>