//table

.ant-table {
  background-color: #333540 !important;
  color: #fff;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #626574;
}

.ant-table-thead > tr > th {
  color: #c0c0c0;
  background: #262830;
}

.ant-table-tbody > tr:hover > td {
  background: #db6c6c73 !important;
}

.ant-table-thead th.ant-table-column-has-sorters.ant-table-cell-fix-left:hover,
.ant-table-thead th.ant-table-column-has-sorters.ant-table-cell-fix-right:hover,
.ant-table-thead th.ant-table-column-sort {
  background: #db6c6c73 !important;
}

.ant-input {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.ant-select-selector {
  border-radius: 6px !important;
}

.ant-picker {
  border-radius: 6px !important;
}

.ant-input:focus,
.ant-select-focused .ant-select-selector,
.ant-picker-focused {
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.ant-input-group-addon {
  border-radius: 6px;
}

.ant-modal {
  border-radius: 16px;
  overflow: hidden;
}

.ant-modal-header,
.ant-modal-footer {
  border-radius: 16px 16px 0 0 !important;
}

.ant-modal-content {
  background-color: #353746;
  border-radius: 20px !important;
}

.ant-modal-header {
  background-color: #3e3f44;
  border: none;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: rgb(252, 140, 140);
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #363746;
  border-color: #328853;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #328853;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after,
.ant-steps-navigation .ant-steps-item::before {
  background-color: #6c757d4d;
}

.ant-steps-item-title {
  color: gray;
}
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description,
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: rgb(238, 124, 124);
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title,
.ant-switch {
  color: #3d6c4d;
}

.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description,
.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: rgb(109 117 125);
}

.ant-steps-item-process .ant-steps-item-icon {
  border-color: #ff7875;
}

.ant-pagination-item-active a,
.ant-pagination-item:focus-visible a,
.ant-pagination-item:hover a {
  color: #ff7875;
}

.ant-pagination-item-active {
  font-weight: 500;
  background: #ffffff00 !important;
  border-color: #f28b8c;
}

.ant-pagination-item {
  background-color: #ffffff47;
}

.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link {
  background-color: #ffffff47;
  border: 1px solid #ffffff47;
}

.ant-modal {
  top: 10px !important;
}