@import "./variables.base.scss";
@import "./nz-theme.scss";

.courses {
  background-color: black;
  padding: 5vh 10vw;

  :host-context(.screen-x-small) & {
    padding: 5vh 2vw;
  }

  .price {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: $accent;
    padding: 0 5px;
    border-radius: 8px;
    color: aliceblue;

    :host-context(.screen-x-small) & {
      font-size: 10px;
    }
  }

  .categorie {
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: $accent;
    padding: 0 5px;
    border-radius: 8px;
    color: aliceblue;

    :host-context(.screen-x-small) & {
      font-size: 10px;
    }
  }

  .duration {
    :host-context(.screen-x-small) & {
      font-size: 10px;
    }
  }

  .card-title {
    :host-context(.screen-x-small) & {
      font-size: 14px;
    }
  }

  .card-text {
    text-align: justify;
    :host-context(.screen-x-small) & {
      font-size: 10px;
    }
  }

  .instructor {
    .instructor-avatar {
      width: 50px;
      height: 50px;
      :host-context(.screen-x-small) & {
        width: 25px;
        height: 25px;
      }
    }
    .instructor-label {
      color: rgb(169, 169, 169);
      margin-left: 20px;

      :host-context(.screen-x-small) & {
        font-size: 10px;
        margin-left: 5px;
      }
    }
    .instructor-name {
      color: rgb(250, 178, 178);
      margin-left: 20px;

      :host-context(.screen-x-small) & {
        font-size: 10px;
        margin-left: 5px;
      }
    }
  }

  .card-footer{
    :host-context(.screen-x-small) & {
      font-size: 10px;
    }
  }
}
