<div
  *ngIf="loading"
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <img
        src="https://i.imgur.com/ISvbhQp.png"
        alt="Loading..."
        class="img-fluid animate-grow"
        style="width: 50px; height: 50px"
      />
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
      <span class="text-danger"><strong>Carregando Cursos</strong></span>
    </div>
  </div>
</div>

<div class="container-fluid p-xl-5">
  <div class="row">
    <div class="col-12">
      <div class="row text-left">
        <div
          class="h3 text-light m-2 text-center"
          *ngIf="!loading && listMeusCursos.length === 0"
        >
          VOCÊ NÃO ESTÁ MATRICULADO EM NENHUM CURSO!
        </div>
        <div
          class="col-xl-4 col-md-6 col-sm-12 col-12 p-2"
          *ngFor="let item of listMeusCursos; let i = index"
        >
        <div class="card w-100 position-relative border-0">
            <div class="w-100 h-100 position-absolute" 
                 [ngStyle]="{
                   'background-image': 'url(' + item.UrlPoster + ')',
                   'background-size': 'cover',
                   'background-position': 'center',
                   'z-index': '1'
                 }">
            </div>
            <div class="w-100 h-100 position-absolute" style="background-color: rgba(0,0,0,0.8); z-index: 2;"></div>
            <div class="position-relative text-white p-2" style="z-index: 3;">
            <div class="card-title mt-2 text-center">
              <span class="h4 text-danger text-uppercase">{{
                item.Titulo
              }}</span>
            </div>
            <div class="card-body">
              <div class="row pl-3">
                <div class="col-8 col-xl-6 h-100">
                  <div class="row">
                    <div class="col-12">
                      <span class="text-light"
                        >Origem:
                        <span class="text-secondary">{{
                          item.Origem
                        }}</span></span
                      >
                    </div>
                    <div class="col-12">
                      <span class="text-light">
                        Tempo estudando:
                        <span class="text-secondary"
                          >{{ formatDuration(item.TotalHorasVisto) }}min</span
                        >
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-12 mt-2">
                  <div class="row">
                    <div class="col-6">
                      <button
                        class="btn btn-sm btn-outline-secondary w-100"
                        [ngClass]="
                          item.Progresso < 100
                            ? 'btn-outline-secondary'
                            : 'btn-outline-danger'
                        "
                        [disabled]="item.Progresso < 100"
                        [routerLink]="'../ava-certified'"
                        [queryParams]="item.CursoId"
                      >
                        <i class="fa-solid fa-graduation-cap"></i>
                        <span class="text-responsive-sm">
                          <br class="view-sm" />
                          Certificado
                        </span>
                      </button>
                    </div>
                    <div class="col-6">
                      <button
                        class="btn btn-sm btn-outline-secondary w-100"
                        [ngClass]="
                          item.Progresso < 100
                            ? 'btn-outline-danger'
                            : 'btn-outline-danger'
                        "
                        [routerLink]="'../ava-curso-detalhe'"
                        [queryParams]="{ curso: item.CursoId }"
                      >
                        <i class="fa-solid fa-door-open"></i>
                        <span class="text-responsive-sm">
                          <br class="view-sm" />
                          Acessar
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <nz-progress
                    [nzPercent]="item.Progresso"
                    [nzStrokeColor]="item.Progresso < 100 ? 'red' : ''"
                  >
                  </nz-progress>
                </div>
                <div class="col-12">
                  <button
                    class="btn btn-sm btn-none w-100 mt-3"
                    (click)="toggleCollapse(i)"
                  >
                    <i class="fa-solid fa-chevron-down text-danger"></i>
                  </button>
                </div>
                <div class="col-12">
                  <div
                    [ngClass]="{
                      'collapse show': collapseStates[i],
                      collapse: !collapseStates[i]
                    }"
                  >
                    <div class="mt-3">
                      <div class="row text-light">
                        <div
                          class="col-12 m-2"
                          *ngFor="let itemAulas of item.Aulas; let i = index"
                        >
                          <div class="row">
                            <div class="col-1">
                              <i
                                [ngClass]="
                                  itemAulas.StatusConclusao === 'C'
                                    ? 'fa-solid fa-check-circle text-success'
                                    : 'fa-solid fa-xmark-circle text-danger'
                                "
                              ></i>
                            </div>
                            <div class="col-1">
                              <span class="text-uppercase">{{ i + 1 }}</span>
                            </div>
                            <div class="col-7">
                              <span class="text-justify">{{
                                itemAulas.Titulo
                              }}</span>
                            </div>
                            <div class="col-3 d-flex justify-content-end">
                              <button
                                class="btn btn-sm w-100"
                                [ngClass]="
                                  itemAulas.StatusConclusao === 'P'
                                    ? 'btn-danger'
                                    : 'btn-secondary'
                                "
                                routerLink="../ava-curso-view"
                                [queryParams]="{
                                  curso: item.CursoId,
                                  modulo: item.ultimaModuloId,
                                  aula: item.ultimaAulaId
                                }"
                              >
                                <i
                                  class="fa-solid"
                                  [ngClass]="
                                    itemAulas.StatusConclusao === 'P'
                                      ? 'fa-play'
                                      : 'fa-refresh'
                                  "
                                ></i>
                                <span class="hidden-sm">
                                  {{
                                    itemAulas.StatusConclusao === "P"
                                      ? "Assistir"
                                      : "Rever"
                                  }}
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
